<div class="container mx-auto mt-10">
    <div *ngIf="errorMessage; else content">
        <p>{{ errorMessage }}</p>
    </div>

    <ng-template #content>
        <h2 *ngIf="artist" class="text-4xl font-bold text-center mb-6">{{ artist?.name }}</h2>
        <p *ngIf="!artist">Loading artist data...</p>

        <h3 class="text-2xl font-bold mb-4">Top Tracks</h3>
        <div *ngIf="topTracks.length > 0; else loadingTopTracks">
            <div *ngFor="let track of topTracks" class="track">
                <h4>{{ track.name }}</h4>
                <audio controls [src]="track.preview_url"></audio>
            </div>
        </div>
        <ng-template #loadingTopTracks>
            <p>Loading top tracks...</p>
        </ng-template>

        <h3 class="text-2xl font-bold mb-4 mt-10">Albums</h3>
        <div *ngIf="albums.length > 0; else loadingAlbums">
            <div *ngFor="let album of albums" class="album">
                <img [src]="album.images[0]?.url" alt="{{ album.name }}" class="w-full h-auto" />
                <h4 class="text-xl font-semibold mt-2">{{ album.name }}</h4>
            </div>
        </div>
        <ng-template #loadingAlbums>
            <p>Loading albums...</p>
        </ng-template>
    </ng-template>
</div>
